/*  This CSS file defines styles for the ScopedCss component.
    The styles are scoped to the component, meaning they will not affect
    any other elements in the application. This allows for better modularity
    and prevents unintended side effects on other parts of the application. */

.scoped
{    color: red;
     background-color: yellow;
     padding: 10px;
     margin-top: 20px;
}

/*Seletores globais como h3 não são afetados pelo escopo, 
mas podem ser usados para estilizar elementos específicos 
dentro do componente.*/
h3
{    color: blue;
     background-color: lightgray;
     padding: 5px;
}