.products
{
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
}

.products li
{
    list-style: none;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 25%;
    text-align: center;
}
