/* 
  GLOBAL ELEMENT STYLE
  Este seletor afeta TODOS os <p> da aplicação,
  independentemente do componente React
*/
p {
  color: #ffffff;
}

.title {
  color: rgb(5, 5, 5);
  font-size: 24px;
}

.red-title {
  color: red;
  font-size: 24px;
}